<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="w-full h-full bg-zinc-500">
    <div>
    <div class="m-3">
        <a href="/" class="underline hover:text-white">Back to Home</a>
    </div>
    <h1 class="text-black text-4xl text-center">
        All Users
    </h1>
    <% if(users.length > 0) { %>
    <div class="users flex gap-5 p-5 flex-wrap m-5">
        <% users.forEach(user => { %>
        <div class="user p-5 bg-zinc-700 rounded-lg shadow-lg p-3 max-w-xs w-full">
            User Data -
            <div class="m-2 text-xl">
                <strong>Name:</strong> <span class="text-black"><%= user.name %></span>
            </div>
            <div class="m-2 text-zinc-800">
                <strong>ID:</strong> <span class="text-gray-900"><%= user.Id %></span>
            </div>
            <div class="m-2 text-zinc-800">
                <strong>Email:</strong> <span class="text-gray-900"><%= user.email %></span>
            </div>
            <div class="m-2 text-zinc-800">
                <strong>Gender:</strong> <span class="text-gray-900"><%= user.gender %></span>
            </div>
            <div class="m-2 text-zinc-800">
                <strong>Age:</strong> <span class="text-gray-900"><%= user.age %></span>
            </div>
            <div class="flex flex-wrap gap-5">
                <a href="/edit/<%= user.Id %>" class="m-4 text-black hover:text-white">Edit User</a>
                <a href="/delete/<%= user.Id %>" class="m-4 text-red-500 hover:text-red-700">Delete User</a>
            </div> 
        </div>
        <%  }); %>
    </div>
   
    <% } else { %>
        <h2 class="text-4xl text-red-500 text-center">NO USER FOUND</h2>
        <% } %>
        <div class="m-5 text-center text-2xl">
            <a href="/" class="text-black underline hover:text-white">Create New User</a>
        </div>
</div>
</body>
</html>